<phpunit bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="Wurfl Constants Tests">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src/</directory>
        </whitelist>
    </filter>
</phpunit>